@import "../utils/mixins";

.footer {
    color: white;
    background: #353535;
    padding: 1.5rem;
    & ul {
        list-style-type: none;
        font-family: Roboto-Ligth, sans-serif;
        & li:first-child {
            margin-bottom: 1rem;
            font-size: 1.3rem;
            font-family: Shrikhand, sans-serif;
        }
        & li {
            margin-bottom: 1rem;
            & a {
                color: white;
                text-decoration: none;
                & i {
                    width: 20px;
                    height: 20px;
                    margin-right: 1%;
                }
            }
        }
    }
}
