@import "../utils/variables";
@import "../utils/mixins";

.header {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0 2px 0;
    background: $color-background-primary;
    & > div:first-child {
        position: relative;
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        & > a:first-child {
            position: absolute;
            left: 5%;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__title {
        flex-basis: 100%;
        font-size: 2rem;
        font-weight: 500;
        font-family: Shrikhand, sans-serif;
        @include min-desktop {
            font-size: 2.5rem;
        }
    }
    & a {
        color: $color-font-dark;
        text-decoration: none;
    }
    &__restaurant {
        flex-basis: 100%;
        & img {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
    }
}
