@import "./../utils/variables";

.header {
    display: flex;
    justify-content: center;
    background: $color-background-primary;
    &__title {
        font-family: Shrikhand, sans-serif;
        font-size: 2.5rem;
        font-weight: 500;
    }
    a {
        color: $color-font-dark;
        text-decoration: none;
    }
}
