@import "../utils/variables";
@import "../utils/mixins";

.header {
    display: flex;
    justify-content: center;
    background: $color-background-primary;
    &__title {
        font-size: 3rem;
        font-weight: 500;
        font-family: Shrikhand, sans-serif;
        @include min-desktop {
            font-size: 3.5rem;
        }
    }
    & a {
        color: $color-font-dark;
        text-decoration: none;
    }
}
