@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/keyframes";

.restaurantSection {
    padding: 3rem;
    border-radius: 3rem 3rem 0 0;
    background: $color-background-primary;
    transform: translateY(-3rem);
    & header {
        display: flex;
        justify-content: space-between;
        font-family: Shrikhand, sans-serif;
        font-size: 1.2rem;
    }
    & article {
        & header {
            position: relative;
            text-transform: uppercase;
            font-family: Roboto-Ligth, sans-serif;
            margin: 3rem 0 2rem 0;
            &::after {
                position: absolute;
                content: '';
                bottom: -4px;
                left: 0;
                height: 3px;
                width: 25%;
                background: $color-tertiary;
            }
        }
    }
    &__card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
        width: 100%;
        opacity: 0;
        margin: 1rem 0;
        border-radius: 1rem;
        overflow: hidden;
        text-decoration: none;
        color: $color-font-dark;
        @include makeBoxShadow($inset: false, $offsetX: 2px, $offSetY: 2px, $blur: 6px, $spreadRadius: 0, $color: #c2c2c2);
        animation: slideBottomToTop 500ms ease-in-out forwards;
        @for $i from 1 through 15 {
            &:nth-child(#{$i}) {
                animation-delay: $i * 75ms;
            }
        }
        &__body {
            width: 100%;
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            padding: 1rem;
            font-size: 1.2rem;
            @include min-desktop {
                font-size: 1.3rem;
            }
            & > p:first-child {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                & > span {
                    font-family: Roboto-Ligth, sans-serif;
                }
            }
            & > p:last-child {
                display: flex;
                justify-content: space-between;
                font-family: Roboto-Ligth, sans-serif;
                & > span {
                    align-self: flex-end;
                    font-family: Roboto, sans-serif;
                }
            }
        }
        &__valid {
            position: relative;
            height: 100%;
            width: 0;
            opacity: 0;
            transition: all 400ms ease-in-out;
            & > div {
                width: 25px;
                height: 25px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                & svg {
                    color: white;
                    opacity: 0;
                    transform: rotate(-360deg);
                    transition: all 500ms ease-in-out;
                }
            }
        }
        &:hover &__valid {
            width: 35%;
            opacity: 1;
            background: $color-tertiary;
            transition: all 400ms ease-in-out;
        }
        &:hover &__valid > div > svg {
            opacity: 1;
            transform: rotate(0);
            transition: all 500ms ease-in-out;
        }
        &:hover {
            cursor: pointer;
        }
    }
    &__btn {
        display: flex;
        justify-content: center;
    }
}
