@import "../utils/variables";
@import "../utils/mixins";

.presentation {
    padding: 2rem;
    text-align: center;
    font-size: 1rem;
    background: darken($color-background-primary, 4%);
    &__description {
        font-family: Roboto-Ligth, sans-serif;
        font-size: .9rem;
    }
}
