@import "../utils/variables";
@import "../utils/mixins";

.presentation {
    padding: 4rem 3rem;
    text-align: center;
    background: darken($color-background-primary, 4%);
    &__description {
        font-family: Roboto-Ligth, sans-serif;
    }
}
