@import "../utils/variables";
@import "../utils/mixins";

.restaurants {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1rem;
    padding: 2.5rem 1.5rem;
    background: darken($color-background-primary, 4%);
    &__title {
        flex-basis: 100%;
        font-size: 1.3rem;
    }
    &__article {
        flex-basis: 100%;
        background: white;
        border-radius: 1rem;
        position: relative;
        @include makeBoxShadow($inset: false, $offsetX: 2px, $offSetY: 2px, $blur: 6px, $spreadRadius: 0, $color: #c2c2c2);
        @include desktop {
            flex-basis: 49%;
            flex-wrap: wrap;
        }
        & a {
            color: $color-font-dark;
            text-decoration: none;
        }
    }
    &__new {
        position: absolute;
        top: 15px;
        right: 15px;
        padding: .4rem .5rem;
        border-radius: .2rem;
        font-size: 1rem;
        font-weight: bold;
        font-family: Roboto-Ligth sans-serif;
        color: darken($color-tertiary, 35%);
        background: darken($color-tertiary, 5%);
    }
    &__img {
        height: 140px;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
        }
    }
    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .8rem .7rem;
        font-size: 1rem;
        & div p:last-child {
            font-family: Roboto-Ligth, sans-serif;
            font-size: .9rem;
        }
    }
    &__like {
        position: relative;
        width: 2rem;
        height: 2rem;
        margin-right: 2%;
        font-size: 1.5rem;
        & i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &--visible {
            opacity: 1;
            z-index: 2;
            transition: opacity 600ms ease-in-out;
        }
        &--hidden {
            opacity: 0;
            z-index: 1;
            background: $linear-gradient-btn;
            transition: opacity 600ms ease-in-out;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &--visible:hover {
            opacity: 0;
            cursor: pointer;
            transition: opacity 600ms ease-in-out;
        }
        &--visible:hover + &--hidden {
            opacity: 1;
            transition: opacity 600ms ease-in-out;
        }
    }
}
