@import "../utils/variables";
@import "../utils/mixins";

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    background: darken($color-background-primary, 7%);
    @include makeBoxShadow($inset: true, $offsetX: 0, $offSetY: 5px, $blur: 5px, $spreadRadius: 0, $color: #dddddd);
    &__form {
        margin-top: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .8rem;
    }
    &__form input {
        width: 70%;
        padding: 10px;
        text-align: center;
        font-weight: bold;
        border: none;
        background: darken($color-background-primary, 7%);
        color: $color-font-dark;
        &::placeholder {
            font-size: .7rem;
        }
    }
}
