*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  background: #FFF;
}
.header__title {
  font-size: 3rem;
  font-weight: 500;
  font-family: Shrikhand, sans-serif;
}
@media screen and (min-width: 1024px) {
  .header__title {
    font-size: 3.5rem;
  }
}
.header a {
  color: #000;
  text-decoration: none;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ededed;
  box-shadow: inset 0 5px 5px 0 #dddddd;
}
.search__form input {
  width: 100%;
  padding: 15px 5px 15px 5px;
  margin-top: 5px;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  border: none;
  background: #ededed;
  color: #000;
}
.search i {
  font-size: 1.2rem;
  margin-right: 0;
}

.presentation {
  padding: 4rem 3rem;
  text-align: center;
  background: whitesmoke;
}
.presentation__description {
  font-family: Roboto-Ligth, sans-serif;
}

.mb-10 {
  margin-bottom: 2rem;
}

.mb-20 {
  margin-bottom: 4rem;
}

.btn {
  color: white;
  text-decoration: none;
  font-family: Roboto-Ligth, sans-serif;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  background: #FF79DA;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 2px 2px 8px 1px #8f8f8f;
  transition: all 400ms ease-in-out;
}
.btn:hover {
  color: #000;
  background: linear-gradient(to top, #a16be0, #ffc6ef);
  box-shadow: 4px 4px 10px 2px #8f8f8f;
  transition: all 400ms ease-in-out;
}

.functioning {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem 2rem;
}
@media screen and (min-width: 1024px) {
  .functioning {
    justify-content: space-around;
  }
}
.functioning a {
  flex-basis: 100%;
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  .functioning a {
    flex-basis: 30%;
  }
}
.functioning__title {
  flex-basis: 100%;
  margin-bottom: 3rem;
}
.functioning__card {
  display: flex;
  align-items: center;
  padding: 2.5rem 0;
  margin-bottom: 3rem;
  border-radius: 2rem;
  background: whitesmoke;
  box-shadow: 2px 2px 6px 0 #c2c2c2;
}
.functioning__card--active, .functioning__card:hover {
  color: #9356DC;
  background: #f2eafb;
}
.functioning__card__number {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #9356DC;
  margin-left: -15px;
}
.functioning__card__number span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.functioning__card__icon {
  flex-basis: 30%;
  font-size: 2rem;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .functioning__card__icon {
    flex-basis: 40%;
  }
}
.functioning__card__body {
  color: #000;
  flex-basis: 100%;
}

.restaurants {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2rem;
  padding: 3rem 2rem;
  background: whitesmoke;
}
.restaurants__title {
  flex-basis: 100%;
  margin-bottom: 1rem;
}
.restaurants__article {
  flex-basis: 100%;
  background: white;
  border-radius: 2rem;
  box-shadow: 2px 2px 6px 0 #c2c2c2;
}
@media screen and (min-width: 1024px) {
  .restaurants__article {
    flex-basis: 49%;
  }
}
.restaurants__article a {
  color: #000;
  text-decoration: none;
}
.restaurants__img {
  height: 180px;
}
.restaurants__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurants__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
.restaurants__body div p:last-child {
  font-family: Roboto-Ligth, sans-serif;
}
.restaurants__like {
  position: relative;
  width: 2rem;
  height: 2rem;
}
.restaurants__like i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.restaurants__like--visible {
  opacity: 1;
  z-index: 2;
  transition: opacity 600ms ease-in-out;
}
.restaurants__like--hidden {
  opacity: 0;
  z-index: 1;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  transition: opacity 600ms ease-in-out;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurants__like--visible:hover {
  opacity: 0;
  cursor: pointer;
  transition: opacity 600ms ease-in-out;
}
.restaurants__like--visible:hover + .restaurants__like--hidden {
  opacity: 1;
  transition: opacity 600ms ease-in-out;
}

.footer {
  color: white;
  background: #353535;
  padding: 2rem;
}
.footer ul {
  list-style-type: none;
  font-family: Roboto-Ligth, sans-serif;
}
.footer ul li:first-child {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-family: Shrikhand, sans-serif;
}
.footer ul li {
  margin-bottom: 1rem;
}
.footer ul li a {
  display: flex;
  color: white;
  text-decoration: none;
}
.footer ul li a i {
  flex-basis: 2%;
  width: 20px;
  height: 20px;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: url("./../fonts/Roboto/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Ligth";
  font-style: normal;
  font-weight: normal;
  src: url("./../fonts/Roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: normal;
  src: url("./../fonts/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
body {
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

/*# sourceMappingURL=main.css.map */
