@keyframes slideBottomToTop {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes loader {
    0% {
        opacity: 0;
        transform: translateY(-50px) scale(1.5);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes loaderProgress {
    0% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}

@keyframes loaderHidden {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
