$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background-primary: #FFF;
$color-font-dark: #000;
$linear-gradient-btn: linear-gradient(180deg, rgba(255,121,218,0.9962359943977591) 25%, rgba(147,86,220,1) 100%, rgba(5,101,247,0) 100%);
$breakpoints: (tablet: 768px, desktop: 1024px);
